<% @chats.each do |chat| %>
  <% chat_user = chat.user %>
    <div class='row mt-md-1 mx-md-1 border-bottom  border-dark'>
      <div class='col-md-1 ml-1 mb-1'><%= chat_user.name %></div>
      <div class='col-md-1'><%= chat.created_at.strftime('%Y/%m/%d') %></div>
      <div class='col align-items-stretch'><%= simple_format(Rinku.auto_link(chat.comment, :all, 'target="_blank"').html_safe) %></div>
      <% if current_user == chat_user %>
        <div class='col-md-1'><%= link_to '削除', game_chat_path(chat.game_id, chat.id), class: 'btn-sm btn-danger', method: :delete %></div>
      <% end %>
    </div>
<% end %>
<% if user_signed_in? %>
  <%= form_with model:[game,@chat], local: true do |f| %>
    <div class='form-row mt-md-2'>
      <div class='col-md-10'><%= f.text_area :comment, class:'form-control' %></div>
      <div class='col align-self-center'><%= f.submit '送信', class: 'btn btn-lg btn-success'%></div>
    </div>
  <% end %>
<% end %>