<% @games.each do |game| %>
    <div class='row'>
      <div class='img-fluid col-md-4 pt-2'>
        <%= link_to game_path(game) do %>
          <%= attachment_image_tag game, :image, :fill, 220, 200, fallback: "img/noimage-1-580x440.png" %>
        <% end %>
      </div>
      <div class='col-md-3 align-self-center'>
        <h4 class='font-weight-bold'><%= game.title %></h4>
      </div>
      <div class='col-md-2 align-self-center'>
        <div id="review-total_rate_<%= game.id %>" data-score=<%= game.total_rate %>></div>
      </div>
      <% if game.user == current_user %>
        <div class='col-md-1 align-self-center'>
          <%= link_to '編集', edit_game_path(game), class: "btn btn-success edit_game_#{game.id}" %>
        </div>
        <div class='col-md-1 align-self-center'>
          <%= link_to '削除', game_path(game), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger destroy_game_#{game.id}"%>
        </div>
      <% end %>
    </div>
  <% end %>
