<!--タブ名-->
<% @page_title = 'ゲーム一覧' %>
<div class='game-index'>
  <h1 class='text-center font-weight-bold mb-3'>ゲーム一覧</h1>
  <div class='row col-md-12 justify-content-md-end justify-content-center'>
    <%= render 'search_form' %>
  </div>
  <div><%= render 'games/list' %></div>
  <div class='row mt-5 justify-content-center'>
      <%= paginate @games %>
  </div>
</div>
<!--星評価　発火-->
<script>
<% if @games.present? %>
  <% @games.each do |game| %>
  $('#review-total_rate_<%= game.id %>').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
  <% end %>
<% end %>
</script>