<!--タブ名-->
<% @page_title = '新規投稿' %>
<h1 class='text-center font-weight-bold mb-4'>新規投稿</h1>
<!--エラーメッセージ-->
  <%= render 'layouts/errors', obj: @game %>
  <%= form_with model:@game, local:true do |f| %>
    <!--ゲーム画像-->
    <div class="form-group mt-5">
      <h5>ゲーム画像</h5>
      <p class='text-center'><%= attachment_image_tag @game, :image, :fill, 220, 200, fallback: "img/noimage-1-580x440.png",id: "preview", size:"220x200" %></p>
      <p><%= f.attachment_field :image, class: 'form-control-file' %></p>
    </div>
    <!--ゲームタイトル-->
    <div class="form-group">
      <h5>タイトル</h5>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <!--ゲーム説明-->
    <div class="form-group">
      <h5>説明</h5>
      <%= f.text_area :introduction, class: 'form-control form-control-lg' %>
    </div>
    <!--参考攻略サイト-->
    <div class="form-group">
      <h5>参考攻略サイト</h5>
      <%= f.text_area :site_url, class: 'form-control form-control-lg' %>
    </div>
    <!--投稿ボタン-->
    <div class="form-group">
      <%= f.submit '投稿', class:'btn btn-primary form-control' %>
    </div>
  <% end %>
<hr class="border-dark my-5">
  <div class="form-group">
    <%= link_to "戻る", my_page_path, class:"btn btn-info btn-block" %>
  </div>
  <!--プレビュー用のimgタグ-->
<script>
  $('#game_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
});
</script>